{
  "presets": ["next/babel"],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".scss"],
        "append": [ "postcss-cssnext" ],
        "extractCss": "./static/css/bundle.min.css",
        "preprocessCss": "./pre-processor.js"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}